h1 {
    text-align: center;
}


div {
    border: 1px solid black;
    background-color: steelblue;
    padding: 5px;
    margin: 15px;
}

img {
    width: 400px;
    height: 200px;

}

.horizontal {
    display: flex;
    justify-content: space-between;
}
.pics {
 border:2px solid red;
}